
<div class="container">
    <h3>New Contribution</h3>
    <div>

    </div>
    <%= render 'form', contribution: @contribution %>

    <%= link_to 'Back', employee_contributions_path(current_employee) %>
</div>
