<%= render 'layouts/navbar' %>

<div class="container">
    <h3>New Contribution</h3>
    <div>
        
    </div>
    <%= render 'form', contribution: Contribution.new %>

    <%= link_to 'Back', employee_contributions_path(current_employee) %>
</div>
